
.Dump {
	border: #ccc 1px solid;
	margin: 1px;
	font-family: Verdana;
	font-size: 9pt;
	}
	
.Dump td {
	border-collapse: collapsed;
	border: #ddd 1px solid;
	min-width: 80px;
	padding: 0px 4px;
	}
	
.ClassName {
	font-weight: bold;
	text-align: center;
	}